<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <label for="name">Name: <input type="text" name="customer_name" id="name"></label>
        <label for="email">Email: <input type="email" name="customer_email" id="email"></label>
        <label for="date">Invoice Date: <input type="date" name="customer_invoice_date" id="date"></label>
    </form> 
</body>
</html>