<!--  Gowtham M - VCET -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <form action="" method="post">
        <label for="name">Name: <input type="text" name="customer_name" id="name"></label>
        <label for="email">Email: <input type="email" name="customer_email" id="email"></label>
        <label for="date">Invoice Date: <input type="date" name="customer_invoice_date" id="date"></label>
        <div class="items_container">
        <table class="items_table">
            <thead>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Price per unit</th>
            </thead>
         
            <tbody>
                <tr>
                <td>
                    <input type="text" placeholder="Item Name" required>
                </td>
                <td>
                    <input type="number" placeholder="Quantity" required>
                </td>
                <td>
                    <label>Rs. </label><input type="number" placeholder="Price" required>
                </td>
                </tr>
            </tbody>    
        </table>
        </div>
    </form> 
</body>
</html>